<h1>Log In</h1>

<%= form_tag sessions_path do %> <!-- Form_for implies that there are resources behind it -->
  <div class = "field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class = "field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="field button">
    <%= submit_tag "Log in" %>
  </div>
<% end %>
